 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');

 /* Fonts and color we gonna use here  */

 /* font-family: var(--rough); */

 /* font-family: var(--smooth); */
 /* grey color - 666767
 red color - fe2020 */
 :root {
     --grey: #666767;
     --red: #fe2020;
     --smooth: 'Montserrat', sans-serif;
     --rough: 'Playfair Display', serif;
 }


 * {
     background-color: black;
     color: white;
     overflow: hidden;
 }

 .icons {
     padding: 10px 20px;
     float: right;
     margin-right: 19%;
 }

 i {
     padding: 3px 22px;
 }

 /* sophia name */
 .name {
     padding: 10px 0px 0px 320px;
     font-size: 40px;
     font-family: 'Playfair display';
 }

 /* home about contact  */
 .navbar {
     margin-top: -70px;
 }

 .navul {
     display: flex;
     list-style-type: none;
     float: right;
     margin-right: 20%;
 }

 .navul li {
     padding-right: 80px;
 }

 .navbar a {
     color: var(--grey);
     text-decoration: none;
     list-style-type: none;
     font-family: var(--smooth);
     font-weight: 700;
 }

 .navbar a::after {
     content: '';
     display: block;
     width: 0;
     height: 4px;
     border-radius: 50px;
     background: var(--red);
     transition: width .3s;
 }

 .navbar a:hover::after {
     width: 100%;
     transition: width .3s;
 }

 /* body  */
 .body {
     display: flex;
 }

 .rightbody {
     width: 50%;

 }

 .rightbody img {
     height: 100%;
     width: 90%;
     float: left;
 }

 .leftbody {
     width: 50%;
     padding: 10% 0% 0% 10%;
     margin-left: 10%;
 }

 .leftbody button {
     padding: 15px 50px;
     border-radius: 50px;
     border-width: 2.5px;
     border-color: var(--red);
 }

 .leftbody h4 {
     font-weight: 600;
     font-family: var(--smooth);
     color: var(--red);
 }

 .leftbody h1 {
     margin: 0%;
     font-size: 400%;
 }

 .leftbody h5 {
     font-family: var(--smooth);
     color: var(--grey);
 }