body{
    margin: 0;
    padding: 0;
    background-color: black;
}
@keyframes fadeIn {
    from {
      opacity: 9;
    }
    to {
      opacity: 16;
    }
    }
.page-6 {
    background-color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: max-content;
    margin: 0;
}

#box-container {
    top: 100px;
    text-align: center;
    position: relative;
    padding-left: 25%;
}

#box {
    top: 20%;
    width: 60%;
    padding: 20px;
    background-color: rgb(15, 15, 15);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(117, 117, 117);
}

#hackbox {
    color: red;
    font-weight: bold;
}

#ceo {
    color: rgb(117, 117, 117);
}

#round-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('/girl.jpg'); 
    background-size: cover;
    position: absolute;
    bottom: -30px; 
    left: 49%;
    transform: translateX(-50%);
    z-index: 2;
}

.left-arrow {
    width: 40px;
    height: 40px; 
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    z-index: 2;
    filter: invert(1) brightness(5); 
    transition: filter 0.3s; 
}

.right-arrow {
    width: 40px; 
    height: 40px; 
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    z-index: 2;
    filter: invert(1) brightness(5); 
    transition: filter 0.3s; 
}
.left-arrow:hover, .right-arrow:hover {
    filter: none;
}



.blog{
    display: block;
    width: 100%;
    height: max-content;
    background-color: rgb(15,15,15);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog .top {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    text-align: center;
}
.blog .top hr{
    width: 80px;
    margin: auto;
    display: inline-block;
    margin-right: 25px;
    vertical-align: super;
    line-height: 5px;
}
.blog .top h4{
    color:  rgb(255, 255, 255);
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 5px;
    margin: 0;
}
.blog .top h1{
    color: #fe2020;
    font-weight: 100px;
    line-height: 5px;
    font-size:45px;
    font-family:'Playfair Display', serif;
}
.blog .top p{
    color: rgb(117, 117, 117);
    text-align: center;
    font-size: 90%;
}
.blog .cont{
    display: flex;
    width: 80%;
    justify-content: center;
}
.blog .cont .card{
    width: 25%;
    margin: 6%;
    text-align: left; 
    display: block;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-in-out; 

}
.blog .cont .card img{
    width: 100%;
    height: 250px;
    display: block;
    margin: none;
}
.blog .cont .card h4{
    color:  rgb(215, 215, 215);
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.blog .cont .card p{
    color: rgb(117, 117, 117);
    font-size: 90%;
}

.blog .cont .card .footer{
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.blog .cont .card .footer h6{
    margin: 0; 
    font-size: 14px; 
    color: #9e9191; 
    margin-right: 10px; 
}
.mount{
    position: relative;
    text-align: center;
}
.ige{
    width: 100%;
    height: 350px;
}
.centerbutt {
    position: absolute;
    font-family: 'Playfair Display', serif;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 38px; 
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px; 
    text-align: center;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    animation: fadeIn 1s ease-in-out; 

}
.centerbutt:hover{
    color: red;
    background-color: black;
    animation: fadeIn 1s ease-in-out; 

}
.edbar{
    display: block;
    width: 100%;
    padding-left: 0%;
    height: max-content;
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}
.edbar .cont{
    display: flex;
    justify-content: center;
    padding-left: 8%;
}
.edbar .cont .card{
    width: 250px;
    margin-top: 5%;
    padding-left: 3%;
    text-align: left; 
    display: block;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}
.edbar .cont .card h1{
    font-family: 'Playfair display';
    color: red;
    font-size: 50px;
}
.edbar .cont .card h4{
    color:  rgb(215, 215, 215);
    display: block;
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.edbar .cont .card p{
    color: rgb(117, 117, 117);
    font-size: 85%;
    font-family: 'Montserrat', sans-serif;
}
.edbar .cont .card a{
    letter-spacing: 40px;
    width: 30px;
    text-decoration: none;
}

.edbar .cont .card .footer{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.edbar .cont .card .footer h6{
    margin: 0; 
    font-size: 14px; 
    color: #9e9191; 
    margin-right: 10px; }
nav{
    position: relative;
}
i {
    padding: 3px 22px;
}
.icons {
    padding: 10px 20px;
    float: left;
    margin-left: 19%;
    bottom: 5%;
}
.dummy{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: antiquewhite;
}