@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');

/* Fonts and color we gonna use here  */

/* font-family: var(--rough); */

/* font-family: var(--smooth); */
/* grey color - 666767
 red color - fe2020 */
:root {
    --grey: #666767;
    --red: #fe2020;
    --smooth: 'Montserrat', sans-serif;
    --rough: 'Playfair Display', serif;
}

* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px var(--grey);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--red);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--red);
    }
}

.items a {
    text-decoration: none;
    color: var(--grey);
}

#myImage {
    transition: opacity 0.5s ease-in-out;
}

main {
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

/* bar  */


#progress-bars {
    display: grid;
    padding-left: 10%;
    padding-top: 15%;
    grid-template-columns: repeat(2, 40%);
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.bar-container {
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar {
    width: 140%;
    height: 2px;
    background-color: lightgrey;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    padding-left: 0%;
}

.progress {
    width: 0;
    height: 100%;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease-in-out;
}

.percentage {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    position: absolute;
    top: -20px;
    /* Adjust this value to position the percentage label */
    right: 0;
    /* Position the label at the end of the bar */
}

.tabar {
    display: grid;
    grid-template-columns: repeat(2, 300px);
}

.bar-container h1 {
    color: aliceblue;
    font-size: 20px;
}

.bar-container h2 {
    color: aquamarine;
    font-size: medium;
}


/* settingsicon */
.settings {
    height: 40px;
    width: 40px;
    position: relative;
    top: -21px;
    left: -10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    animation: move1 linear infinite 3s;
}

.settingbutton {
    position: absolute;
    right: 0;
    height: 40px;
    margin-top: 10px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 50%;
    box-shadow: 2px 3px 10px 2px rgb(125, 125, 125);
    border: none;
}

.settingbutton:hover {
    box-shadow: none;
    transition: box-shadow 0.5s ease;
}

.settingbuttonset {
    position: absolute;
    right: 10px;
}

@keyframes move1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.navbars {
    overflow: hidden;
    background-color: #000000;
    position: fixed;
    top: 0;
    height: fit-content;
    width: 100%;
    z-index: 100;
}

.navbars .contentnavbar ul.items li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbars .contentnavbar ul.items li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--red);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navbars .contentnavbar ul.items li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navbars .contentnavbar ul.items li.active::after {
    transform: scaleX(1);
    transform-origin: left;
}

.icons {
    margin-right: 13%;
    position: absolute;
    width: 20%;
    top: 10px;
    right: 0;
}




/* sophia name */
.contentnavbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.name {
    font-size: 300%;
}

.items {
    font-family: var(--smooth);
    font-weight: 600;
    color: var(--grey);
    list-style-type: none;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.dark-mode {
    background-color: #000000;
    color: #ffffff;
}

/* body  */
.body {
    display: flex;
}

.rightbody {
    width: 50%;

}

.rightbody img {
    height: 100%;
    width: 90%;
    float: left;
}

.leftbody {
    width: 50%;
    padding: 15% 0% 0% 10%;
    margin-left: 8%;
}

.leftbody button {
    padding: 15px 50px;
    border-radius: 50px;
    color: var(--red);
    border-width: 2.5px;
    font-family: var(--smooth);
    background-color: transparent;
    border-color: var(--red);
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.leftbody button:hover {
    background-color: var(--red);
    color: white;
}

.leftbody h4 {
    font-weight: 600;
    font-family: var(--smooth);
    color: var(--red);
}

.leftbody h2 {
    margin: 0%;
    font-size: 350%;
}

.leftbody h5 {
    font-family: var(--smooth);
    color: var(--grey);
}

/* who am i  */

.whoami {
    background-color: #0e0f0f;
}

.line {
    content: "       ";
    display: inline-flex;
    border-bottom: 0.5px solid #9E9E9E;
}

.allwho {
    display: flex;
    margin-left: 10%;
}

.whoami h2 {
    font-family: var(--smooth);
    color: white;
    margin-left: 45%;
    font-weight: 500;
}

.whoami .dot {
    color: var(--red);
}

.whoami .line {
    width: 10%;
}

.whoami h1 {
    color: var(--red);
    margin-left: 35%;
    font-size: 55px;
    font-family: var(--rough);
}

.square {
    width: 522px;
    height: 623px;
    border: 3px solid var(--red);
}

.leftwho {
    margin-left: 7%;
    margin-top: 5%;
}

.secgirl {
    height: 620px;
    width: 522px;
    margin-left: 3.5%;
    margin-top: 3.5%;
}

.rightwho {
    font-family: var(--smooth);
    margin-top: 10%;
    margin-left: 10%;
    width: 30%;
    float: right;
}

.rightwho h6 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5;
}

.rightwho p {
    color: var(--grey);
    font-size: 20px;
}

.rightwho button {
    padding: 15px 50px;
    border-radius: 50px;
    color: var(--red);
    border-width: 2.5px;
    font-family: var(--smooth);
    background-color: transparent;
    border-color: var(--red);
    margin-top: 35%;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.rightwho button:hover {
    background-color: var(--red);
    color: white;
    transform: scale(1.05);
}

.bars {
    display: flex;
    justify-content: space-around;
}

.ps {
    display: flex;
    justify-content: space-between;
}

.bar {
    width: 500px;
}

.progress {
    background: gray;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 0px;
    display: flex;
    height: 10px;
    width: 500px;
}

.progress-value {
    animation: load 2s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fe3636;
    height: 10px;
    width: 0;
}

@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 68%;
    }
}

body {
    margin: 0;
    padding: 0;
}

.b {
    border: 1px solid white;
    border-radius: 2px;
    margin: 0;
    padding: 0;
}

:root {
    --dbgCol: #000000;
    --lbgCol: #000000;
    --priCol: #fe2020;
    --secCol: #ffffff;
    --triCol: rgb(117, 117, 117);
}


/*What I Do*/
.watIDo {
    display: block;
    width: 100%;
    height: max-content;
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.watIDo .top {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    text-align: center;
}

.watIDo .top hr {
    width: 80px;
    margin: auto;
    display: inline-block;
    margin-right: 25px;
    vertical-align: super;
    line-height: 5px;
}

.whoami hr {
    width: 70px;
    margin: auto;
    display: inline-block;
    margin-right: 15px;
    vertical-align: super;
    line-height: 4px;
}

.watIDo .top h4 {
    color: var(--secCol);
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 5px;
    margin: 0;
}

.watIDo .top h1 {
    color: var(--priCol);
    font-weight: bolder;
    line-height: 5px;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.watIDo .top p {
    color: var(--triCol);
    font-size: 90%;
}

.watIDo .cont {
    display: flex;
    width: 80%;
    justify-content: center;
}

.watIDo .cont .card {
    padding: 5px 0px 5px 0px;
    width: 28%;
    margin: auto;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

.watIDo .cont .card img {
    width: 100px;
    display: block;
    margin: auto;
}

.watIDo .cont .card h4 {
    padding: 10px 0px 20px 0px;
    color: var(--secCol);
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}

.watIDo .cont .card p {
    color: var(--triCol);
    font-size: 90%;
}


/*Work Experience*/
.workExp {
    display: block;
    width: 100%;
    height: max-content;
    background-color: var(--lbgCol);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.workExp .top {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    text-align: center;
}

.workExp .top hr {
    width: 80px;
    margin: auto;
    display: inline-block;
    margin-right: 25px;
    vertical-align: super;
    line-height: 5px;
}

.workExp .top h4 {
    color: var(--secCol);
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 5px;
    margin: 0;
}

.workExp .top h1 {
    color: var(--priCol);
    font-weight: bolder;
    line-height: 5px;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.workExp .top p {
    color: var(--triCol);
    font-size: 90%;
}

.workExp .boxy {
    margin: auto;
    width: 90%;
    height: 250px;
    text-align: center;
    display: block;
}

.workExp .lsidtxt {
    vertical-align: sub;
    width: 25%;
    margin: auto;
    margin-left: 180px;
    text-align: right;
    float: left;

}

.workExp .lsidtxt h5 {
    color: var(--priCol);
    font-weight: 500;
    font-size: 95%;
    line-height: 25px;

}

.workExp .lsidtxt h2 {
    color: var(--secCol);
    line-height: 25px;
}

.workExp .lsidtxt p {
    color: var(--triCol);
}

.workExp .rsidtxt {
    vertical-align: sub;
    width: 25%;
    margin: auto;
    margin-right: 180px;
    text-align: left;
    float: right;
}

.workExp .rsidtxt h5 {
    color: var(--priCol);
    font-weight: 500;
    font-size: 95%;
    line-height: 25px;
}

.workExp .rsidtxt h2 {
    color: var(--secCol);
    font-size: 130%;
    font-weight: 500;
    line-height: 25px;
}

.workExp .rsidtxt p {
    color: var(--triCol);
}

.workExp .box {
    display: inline-block;
    width: 160px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}

.workExp .box .rbox {
    width: 160px;
    height: 50px;
    background-color: var(--priCol);
    margin: auto;
    color: var(--secCol);
    display: flex;
    align-items: center;
    justify-content: center;
}

.workExp .box .wbox {
    width: 160px;
    height: 50px;
    background-color: var(--secCol);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--priCol);
}


/*Our Portfolio*/
.ourPort {
    display: block;
    width: 100%;
    height: max-content;
    background-color: var(--dbgCol);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ourPort .top {
    margin: 0 auto;
    padding: 0;
    width: 50%;
    text-align: center;
}

.ourPort .top hr {
    width: 80px;
    margin: auto;
    display: inline-block;
    margin-right: 25px;
    vertical-align: super;
    line-height: 5px;
}

.ourPort .top h4 {
    color: var(--secCol);
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 5px;
    margin: 0;
}

.ourPort .top h1 {
    color: var(--priCol);
    font-weight: bolder;
    line-height: 5px;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ourPort .top p {
    color: var(--triCol);
    font-size: 90%;
}


/*Nav*/
.ourPort .naav {
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.ourPort .naav ul li {
    color: var(--secCol);
    display: inline-block;
    margin: 0 20px;
    padding: 0 5px;
}

.ourPort .naav ul li,
.ourPort .naav ul li:after,
.ourPort .naav ul li:before {
    transition: all .5s;
}

.ourPort .stroke ul li {
    position: relative;
}

.ourPort .stroke ul li:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fe2020;
    height: 3px;
}

.ourPort .stroke ul li:hover:after {
    width: 100%;
}

/*design*/
.dashed-line {
    display: flex;
    position: absolute;
    left: 50%;
    width: 1.5px;
    height: 700px;
    background-image: linear-gradient(to bottom, #343434 60%, transparent 40%);
    background-position: center bottom;
    background-repeat: repeat-y;
    background-size: 6px 30px;
}